In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM

2024-07-18 16:14:39.567278: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [3]:
# Load the dataset
ADA = pd.read_csv('/Users/kavian/Desktop/Crypto/Github/Crypto-Prediction/ADA.csv')

In [4]:
ADA.head()

  ticker        date    open    high     low   close
0    ADA  2017-12-30  0.4955  0.6941  0.4200  0.5900
1    ADA  2017-12-31  0.5900  0.7400  0.5900  0.7100
2    ADA  2018-01-01  0.7100  0.7150  0.6320  0.7022
3    ADA  2018-01-02  0.7022  0.8000  0.6750  0.7620
4    ADA  2018-01-03  0.7620  1.1000  0.7601  1.1000

In [6]:
BTC = pd.read_csv('/Users/kavian/Desktop/Crypto/Github/Crypto-Prediction/BTC.csv')

In [7]:
BTC.head()

  ticker        date     open     high      low    close
0    BTC  2010-07-17  0.04951  0.04951  0.04951  0.04951
1    BTC  2010-07-18  0.04951  0.08585  0.04951  0.08584
2    BTC  2010-07-19  0.08584  0.09307  0.07723  0.08080
3    BTC  2010-07-20  0.08080  0.08181  0.07426  0.07474
4    BTC  2010-07-21  0.07474  0.07921  0.06634  0.07921

In [9]:
ETH = pd.read_csv("/Users/kavian/Desktop/Crypto/Github/Crypto-Prediction/ETH.csv")

In [10]:
ETH.head()

  ticker        date  open  high     low  close
0    ETH  2015-08-07   3.0   3.0  3.0000   3.00
1    ETH  2015-08-08   3.0   3.0  1.2000   1.20
2    ETH  2015-08-09   1.2   1.2  1.2000   1.20
3    ETH  2015-08-10   1.2   1.2  1.2000   1.20
4    ETH  2015-08-11   1.2   1.2  0.6504   0.99